{extend name="public/base"}

{block name="title"}
{$catename|default="首页"}
{/block}

{block name="content"}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="page-header h3">{$catename|default="文章列表"}</div>
            <div class="article-list">
                {volist name="articles" id="article"}
                <div class="article-list-item">
                    <a href="{:url('index/article/detail',['id'=>$article.id])}" class="title">{$article.title}</a>
                    <div class="info">
                        <span class="author">作者：{$article.admin.nickname}</span>-
                        <span class="time">发布时间：{$article.create_time}</span>-
                        <span class="read">阅读：{$article.views}</span>-
                        <span class="comment">评论：</span>
                    </div>
                </div>
                {/volist}
            </div>
            <nav class="">
                {$articles->render()|raw|replace}
            </nav>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="page-header h3">推荐文章</div>
            <div class="topic-list">
                {volist name="top_articles" id="article"}
                <div class="topic-list-item">
                    <a href="{:url('index/article/detail',['id'=>$article.id])}" class="title">{$article.title}</a>
                </div>
                {/volist}
            </div>
        </div>
    </div>
</div>
{/block}